# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# macOS & Windows system files
.DS_Store
Thumbs.db

# VSCode or PyCharm settings
.vscode/
.idea/

# Executable files
*.exe
*.dll
*.so

# Logs and temporary files
*.log
*.tmp

# Python egg files and build folders
*.egg
*.egg-info/
dist/
build/

# Other folders
assets/__pycache__/
